body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  background-color: #003366;
  color: white;
  padding: 10px;
}

nav div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

nav input {
  padding: 5px;
}

.posts-container {
  padding: 20px;
  width: 500px;
}

.post {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  width: 500px ;
}

.post h2 {
  margin-top: 0;
}

.post img {
  width: 100%;
}

.post p {
  text-align: justify;
}

.post button {
  background-color: #ff9900;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.post button:hover {
  background-color: #e68a00;
}
